.custom-title {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.custom-card-group {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.custom-card {
    width: 30%;
    border: 1px solid rgb(135, 197, 222);
    border-radius: 15px;
}

.statistic-container {
    text-align: center;
    margin: 5% auto;
    margin-top: 0;
    padding: 3%;
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: azure;
    border: 1px solid rgb(135, 197, 222);
    border-radius: 15px;
}

.stat {
    background-color: black;
    color: white;
    padding: 5%;
    font-weight: 700;
    font-size: 50px;
}

.vl {
    border-left: 2px solid;
}

.item-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

button {
    background-color: rgba(105, 79, 232, 0.8);
    color: white;
    font-weight: 700;
    padding: 5px 25px;
    border: 3px solid;
    border-radius: 10px;
    margin-bottom: 75px;
}

button:hover {
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 5px 25px;
    border: 1px solid rgba(105, 79, 232, 0.8);
    border-radius: 10px;
}

.component-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}